<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiugong.artisticprobes">

    <application>
        <activity
            android:name=".x01.MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".x01.SecondActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
    </application>
</manifest>
