<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiugong.encryptapp">

    <application
        android:name="com.qiugong.encryptcore.ProxyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- service -->
        <service android:name=".MyService" />
        <!-- provider -->
        <provider
            android:name=".MyProvider"
            android:authorities="com.qiugong.encryptapp.MyProvider" />
        <!-- receiver -->
        <receiver
            android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.qiugong.encryptapp.test" />
            </intent-filter>
        </receiver>

        <!--真实的Application的全名-->
        <meta-data
            android:name="app_name"
            android:value="com.qiugong.encryptapp.MyApplication" />
        <!--用于dex后的目录名_版本号-->
        <meta-data
            android:name="app_version"
            android:value="\dexDir_1.0" />
    </application>

</manifest>